<div>
    <nav class="navbar-section">
        <div class="navbar-container-top">
            <a href="#" class="login-link">Sign Up</a>
            <a href="#" class="login-link">Log In</a>
        </div>
    </nav>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="container">
                <div class="navbar-wrapper">
                    <a href="#">
                        <h1 class="navbar-logo">Spirio</h1>
                    </a>
                    <nav role="navigation" class="nav-menu-wrapper">
                        <ul role="list" class="nav-menu-two">
                            <li>
                                <a href="index.html" aria-current="page" class="nav-link current">Home</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Shop All</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Mens</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Womens</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">Create</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="navbar-location">
                        <div data-hover="false" data-delay="0" class="dropdown">
                            <div class="navbar-dropdown dropdown-toggle">
                                <div class="icon-dropdown-toggle"></div>
                                <div>Location</div>
                            </div>
                            <nav class="dropdown-list dropdown-list">
                                <a href="#" class="dropdown-link">Pretoria</a>
                                <a href="#" class="dropdown-link">Durban</a>
                                <a href="#" class="dropdown-link">Cape Town</a>
                            </nav>
                        </div>
                        <a href="#"><img
                                src="https://e7.pngegg.com/pngimages/833/426/png-clipart-black-shopping-cart-icon-for-free-black-shopping-cart.png"
                                loading="lazy" alt="" class="navbar-cart"></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>