<section class="locations-section">
    <div class=" locations-container">
        <div class="location-wrapper">
            <div class="section-header-text">Stores</div>
            <p class="products-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <div class="location-card-wrapper">
                <div class="location-card">
                    <div class="location-card-heading">
                        <div>Pretoria</div>
                    </div><img src="../../../assets/images/featured-image.png" loading="lazy" alt=""
                        class="location-card-image">
                </div>
                <div class="location-card">
                    <div class="location-card-heading">
                        <div>Pretoria</div>
                    </div><img src="../../../assets/images/featured-image.png" loading="lazy" alt=""
                        class="location-card-image">
                </div>
                <div class="location-card">
                    <div class="location-card-heading">
                        <div>Pretoria</div>
                    </div><img src="../../../assets/images/featured-image.png" loading="lazy" alt=""
                        class="location-card-image">
                </div>
            </div>
        </div>
    </div>
</section>