<div>
    <footer class="footer-section">
        <div class="footer-container">
            <div class="layout-grid footer-grid">
                <div>
                    <h1 class="logo-footer">SPIRIO</h1>
                </div>
                <div id="column-1" class="footer-grid-wrapper">
                    <h3>infoSpirio.co.za</h3>
                    <a href="#" class="footer-links">+27 12 397 9171</a>
                    <a href="#" class="footer-links">+27 12 397 9171</a>
                </div>
                <div id="column-2" class="footer-grid-wrapper">
                    <h2>Menu</h2>
                    <a href="#" class="footer-links">Home</a>
                    <a href="#" class="footer-links">Mens</a>
                    <a href="#" class="footer-links">Womens</a>
                    <a href="#" class="footer-links">Create Your Own</a>
                </div>
                <div id="column-3" class="footer-grid-wrapper">
                    <h2>Locations</h2>
                    <a href="#" class="footer-links">Pretoria</a>
                    <a href="#" class="footer-links">Durban</a>
                    <a href="#" class="footer-links">Cape Town</a>
                </div>
            </div>
            <div class="footer-line"></div>
            <div class="footer-foot">
                <a href="#" class="footer-links">© Copyright 2024 Spirio. All rights reserved.</a>
            </div>
        </div>
    </footer>
</div>