<body class="body">
    <section class="shop-header-section">
        <div class="shop-header-container"><img src="../../../assets/images/header-image-.png" loading="lazy" alt=""
                class="shop-header-image">
            <h1 class="shop-heading">Womens Fragrances</h1>
        </div>
    </section>
    <section class="shop-section">
        <div class="shop-container">
            <div class="shop-heading-wrapper">
                <div>
                    <div>Filter</div>
                </div>
                <div>
                    <div>Sort by:</div>
                </div>
            </div>
            <div class="shop-products-wrapper">

                <a href="#" class="product-card">
                    <img src="../../../assets/images/featured-image.png" loading="lazy" alt="" class="product-image">
                    <div class="product-card-heading">name</div>
                    <div class="product-card-price">price</div>
                </a>

                <a href="#" class="product-card">
                    <img src="../../../assets/images/womans3.jpg" loading="lazy" alt="" class="product-image">
                    <div class="product-card-heading">name</div>
                    <div class="product-card-price">price</div>
                </a>

                <a href="#" class="product-card">
                    <img src="../../../assets/images/womans4.jpg" loading="lazy" alt="" class="product-image">
                    <div class="product-card-heading">name</div>
                    <div class="product-card-price">price</div>
                </a>

                <a href="#" class="product-card">
                    <img src="../../../assets/images/womans2.jpg" loading="lazy" alt="" class="product-image">
                    <div class="product-card-heading">name</div>
                    <div class="product-card-price">price</div>
                </a>

            </div>
        </div>
    </section>

    <create-your-own></create-your-own>

    <locations></locations>

</body>