:root {
    --white: white;
    --transparent: rgba(255, 255, 255, 0);
    --text-black: #1a1b1f;
    --text-light-dark: rgba(26, 27, 31, .75);
    --green: #4e6025;
    --text-white: #e4e4e4;
    --black: black;
    --dark-green: #181b11;
}

/* Body */



.body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 38px;
    line-height: 44px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}


.section-header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

/* Footer */

.footer-links {
    color: var(--text-white);
    text-decoration: none;
}

.footer-line {
    height: 2px;
    background-color: var(--white);
    margin-top: 60px;
}

.footer-foot {
    height: auto;
    background-color: var(--transparent);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-grid-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: var(--text-white);
    flex-flow: column;
    text-decoration: none;
    display: flex;
}

.logo-footer {
    color: var(--text-white);
    -webkit-text-stroke-width: 11px;
    letter-spacing: 16px;
    font-family: Nothing You Could Do, sans-serif;
    font-size: 100px;
    font-weight: 400;
    line-height: 120px;
}

.footer-section {
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
}

.footer-container {
    width: auto;
    height: auto;
    max-width: 1920px;
    background-color: var(--dark-green);
    color: var(--text-white);
    border-radius: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    padding: 80px 100px 20px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.footer-grid {
    grid-column-gap: 59px;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    text-decoration: none;
}

#column-1,
#column-2,
#column-3,
#column-4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

/* Footer */

/*  */
.primary-btn {
    width: 140px;
    height: auto;
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--text-black);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: border-radius .6s;
    display: flex;
}

.primary-btn:hover {
    border-radius: 20px;
}

.secondary-btn {
    background-color: var(--green);
    color: var(--text-white);
    border-radius: 10px;
    padding: 15px 60px;
    font-family: Nothing You Could Do, sans-serif;
    font-weight: 400;
    text-decoration: none;
    transition: border-radius .6s;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 4px;
    font-size: 18px;
}

.secondary-btn:hover {
    border-radius: 20px;
}

/*  */