<section class="customise-section">
    <div class=" customise-container w-container">
        <img src="../../../assets/images/customise_2.png" loading="lazy" alt="" class="customise-image _3">
        <img src="../../../assets/images/customise_4.png" loading="lazy" alt="" class="customise-image _4">
        <img src="../../../assets/images/customise_3.png" loading="lazy" alt="" class="customise-image _2">
        <img src="../../../assets/images/customise_1.png" loading="lazy" alt="" class="customise-image">
        <div class="customise-heading-wrapper">
            <h1 class="customise-heading">Customise your own</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
            <a href="#" class="secondary-btn ">
                <div>Start</div>
            </a>
        </div>
    </div>
</section>