<p>My code inventory</p>

<p *ngIf="inventorylist.length == 0">
    no inventory available at the moment
</p>

<app-card *ngFor="let item of inventorylist" [item]="item"> </app-card>

<section class="margin">
    <p>
        Add new inventory
    </p>
    <div>
        <form class="inventory-form" [formGroup]="newInventoryItem" (ngSubmit)="addNewInventory()">

            <input formControlName="name" placeholder="name" type="text" />

            <input formControlName="category" placeholder="category" type="text" />

            <input formControlName="description" placeholder="description" type="text" />

            <input type="submit" value="add" [disabled]="newInventoryItem.status=='INVALID'"/>
        </form>
    </div>
</section>