* {
    font-family: sans-serif;
}

.example-card {
    max-width: 400px;
    margin: 50px;
}

.margin {
    margin: 50px;
}

.inventory-form{
    align-items: center;
    flex-direction: column;
    justify-content: left;
    margin: 50px;
}