/* Header */

.header-section {
    margin-left: 2%;
    margin-right: 50px;
    padding-bottom: 0;
}

.header-container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-wrapper {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 150px;
    display: flex;
}

.header-text {
    width: auto;
    max-width: 500px;
    text-align: right;
    margin-left: 100px;
}

.header-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    margin-top: 50px;
}


/* header */

.featured-section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
}

.featured-container {
    width: 100%;
    max-width: 1440px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.featured-p {
    max-width: 550px;
}

.featured-card {
    width: 280px;
    height: auto;
    min-width: 280px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: var(--text-black);
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    text-decoration: none;
    display: flex;
}

.featured-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
    transition: opacity .4s, border-radius .4s;
}

.featured-image:hover {
    opacity: .8;
    border-radius: 20px;
}

.featured-wrapper {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: row;
    align-items: stretch;
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
}

.featured-card-heading {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
}

.section-header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

/* products section */


.product-section {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
}

.product-container {
    width: 100%;
    max-width: 1440px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.product-heading-wrapper {
    width: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: row;
    display: flex;
    position: relative;
}

.product-header-number {
    text-align: right;
    position: absolute;
    top: -20px;
    bottom: auto;
    left: auto;
    right: -20px;
}

.product-heading {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: row;
    display: flex;
}

.product-header-text {
    width: 100%;
    color: rgba(26, 27, 31, .33);
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
    transition: color .2s;
}

.product-header-text:hover {
    color: var(--text-light-dark);
}

.product-header-text.current {
    color: var(--text-black);
}

.product-card {
    width: 100%;
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: var(--text-black);
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
}

.product-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    transition: opacity .4s, border-radius .4s;
}

.product-image:hover {
    opacity: .8;
    border-radius: 30px;
}

.product-image.small {
    height: 400px;
}

.product-card-wrapper {
    height: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-flow: row;
    display: flex;
}

/* customise your own */
.customise-section {
    overflow: hidden;
}

.customise-container {
    width: 100%;
    height: 80vh;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.customise-heading-wrapper {
    width: 600px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.customise-heading {
    color: var(--green);
    font-size: 60px;
    line-height: 80px;
}

.customise-image {
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 10%;
    right: auto;
}

.customise-image._2 {
    top: auto;
    bottom: 15%;
    left: 20%;
}

.customise-image._3 {
    top: auto;
    bottom: 0%;
    left: auto;
    right: 10%;
}

.customise-image._4 {
    top: 12%;
    bottom: auto;
    left: auto;
    right: 23%;
}

/* locations */

.locations-section {
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 150px;
}

.locations-container {
    width: 100%;
    height: auto;
    max-width: 1440px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.location-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    display: flex;
}

.location-card-wrapper {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    flex-flow: row;
    align-items: stretch;
    margin-bottom: 0;
    display: flex;
}

.location-card {
    width: auto;
    height: auto;
    min-width: 600px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    position: relative;
}

.location-card-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

.location-card-heading {
    width: auto;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: var(--text-black);
    background-color: rgba(241, 241, 241, .64);
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    position: absolute;
    top: 5%;
    bottom: auto;
    left: auto;
    right: 5%;
}